* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("venom.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 90%;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.65);
    padding: 40px 25px;
    text-align: center;
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    position: relative;
    border: 2px solid rgba(255,255,255,0.15);
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -100px;
    border: 4px solid white;
}

h1 {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    margin-top: 5px;
    opacity: 0.85;
}

p {
    margin-top: 18px;
    font-size: 15px;
    opacity: 0.9;
    line-height: 1.5;
}

.buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    color: white;
}

/* Instagram */
.insta {
    background: #d6249f;
}
.insta:hover {
    background: #ff95e1;
}

/* TikTok */
.tiktok {
    background: #000;
    border: 2px solid #14f4ff;
}
.tiktok:hover {
    background: #838282;
}

/* Mail */
.mail {
    background: #e67e22;
}
.mail:hover {
    background: #fab378;
}

/* WhatsApp */
.wp {
    background: #25d366;
}
.wp:hover {
    background: #8cffb6;
}
